<div class="container ptm">
  <div class="content">
  <div class="phl pvm">
    <h1 class="mbm">Project</h1>
    <div class="mbs">
      <%= link_to '&larr; Back to all projects'.html_safe, root_path %>
    </div>
    <div class="mbs">
      <strong>Name:</strong>
      <%= @project.name %>
    </div>
    <div class="pbl">
      <strong>Description:</strong>
      <%= @project.description %>
    </div>
  </div>
  </div>
</div>
