<!-- Create Instance Wrapper -->
<div id="create-instance" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <header class="clearfix">
    <p class="left"><a href="" class="active">All</a> <a href="">My Images</a></p>
    <input class="right" type="text" placeholder="Search"/>
  </header>
  <!-- Modal Body Wrapper -->
  <div class="modal-body">
    <div id="vm-item-wrap">
	    <dl class="vm-item active">
	      <dt><img src="Ubuntu_120.png" alt="Ubuntu_120" width="30" height="30"></dt>
	      <dd>Ubuntu Server 12.04.1</dd>
		    <dd class="os">Linux</dl>
	    </dl>
	    <dl class="vm-item">
	      <dt><img src="Ubuntu_120.png" alt="Ubuntu_120" width="30" height="30"></dt>
	      <dd>Ubuntu Server LTS</dd>
		    <dd class="os">Linux</dl>
	    </dl>
	    <dl class="vm-item">
	      <dt><img src="Windows_60.png" alt="Windows_60" width="30" height="30"></dt>
	      <dd>Windows Server 2008</dd>
		    <dd class="os">Windows</dl>
	    </dl>
    </div>
  </div>
  <!-- /Modal Body Wrapper -->
  <!-- Modal Footer Wrapper -->
  <div class="modal-footer">
    <a href="instance-create-2.html" class="btn btn-primary">Next</a>
  </div>
  <!-- /Modal Footer Wrapper -->
</div>
<!-- /Create Instance Wrapper -->
